<section class="intro-section">
    <div class="container">

        <div class="eight columns center">
            <p class="lead forget-password-description">Enter the email asscociated with your account.</p>
        </div>
        <div class="six columns center">
            <!-- Forget Password form -->
            <div class="forget-password-form">
                <div class="login-register-form">
                    <%= form_tag({}, {:class => "forgetpass-form", :"data-form-name" => "forget_password_form"}) do |f| %>
                        <% if @form_error %>
                            <div class="alert alert-error"><%= @form_error %></div>
                        <% end %>
                        <% if flash[:form_success] %>
                            <div class="alert alert-success"><%= flash[:form_success] %></div>
                        <% end %>
                        <div class="input-prepend input-block-level">
                            <span class="add-on"><i class="icon-envelope-alt"></i></span>
                            <%= text_field_tag :email, nil, placeholder: 'Email', class: 'input-block-level' %>
                        </div>
                        <%= button_tag 'Send password reset email', :class => 'btn btn-block btn-primary' %>
                    <% end %>
                </div>
            </div>
        </div>

    </div>
</section>
