<!-- Intro -->
<section class="section section-black">
    <div class="container">
        <h1 class="columns sixteen center intro-title">Control Timeline, Read Different</h1>
        <p class="columns nine center intro-lead">By change the visual appearance of your timelines, Small Read can help you read more effecient, never miss any news.</p>
        <div class="columns six center intro-action">
            <a href="#one_friend_one_feed" class="button button-green button-push3D">How could?</a>
            <a href="#sign_in_or_up" class="button button-green button-push3D">Ok, I'm in!</a>
        </div>
    </div>
</section>


<section id="one_friend_one_feed" class="section section-blue">
    <div class="container">
        <h2 class="columns eight intro-title intro-left">One Friend, One Feed</h2>
        <div class="clear"></div>
        <p class="columns eight intro-lead intro-left">Put news/status from the same source under one feed. So you know where were, how many is new.</p>
    </div>
</section>


<section class="section section-green">
    <div class="container">
        <h2 class="columns nine intro-title intro-left">Take Control, Organize Lists</h2>
        <div class="clear"></div>
        <p class="columns seven intro-lead intro-left">Group different source into different lists, seperates businesses with entertainments.</p>
    </div>
</section>


<%= render "modules/signup_form" %>


<section id="newsletter_form" class="section section-black section-short section-newsletter">
    <div class="container">
        <div class="columns ten center">
            <h3 class="intro-title">Want to know when it's ready?</h3>
            <% if flash[:newsletter_form_success] %>
                <p class="message message-success"><%= flash[:newsletter_form_success] %></p>
            <% elsif !@future_user.errors[:email].empty? %>
                <p class="message message-error"><%= @future_user.errors[:email].join(" ") %></p>
            <% else %>
                <p class="intro-lead">We will send you an email when we are ready. We promise no spams.</p>
            <% end %>
            <%= form_for :future_user, :url => "#newsletter_form", :html => {:class => "newsletter-form"} do |form| %>
                <div class="input-append">
                    <%= form.email_field :email, :class => "input-box" %>
                    <button type="submit" class="button button-green">OK</button>
                </div>
            <% end %>
        </div>
    </div>
</section>
