<div class="navbar-edge" ng-controller="NavbarCtrl" ng-class="navbar.styles.autoHide">

    <!-- Hover Area to increase the area that triggers to show navbar -->
    <div class="hover-area"></div>

    <!-- Inner Navbar -->
    <div class="navbar-inner">

        <!-- Toolbar -->
        <div class="navbar-inner-toolbar">
            <a class="toolbar-button pin-navbar" href="" ng-click="navbar.switchNavbar()">
                <i ng-class="navbar.styles.pin"></i>
            </a>
            <a class="toolbar-button display-style" href="" ng-click="navbar.changeDisplayFormat()">
                <i ng-class="navbar.styles.displayFormat"></i> {{navbar.displayFormatButtonText}}
            </a>
        </div>

        <!-- Navbar Content -->
        <div class="navbar-inner-container">

            <!-- User Profile -->
            <div class="navbar-user-profile">
                <div class="user-gravatar">
                    <img src="http://placeimg.com/45/45/any" alt="">
                </div>
                <div class="user-profile-detail">
                    <div class="user-profile-email"><%= @user.email || link_to("Please set up your email") %></div>
                    <div class="user-profile-update-timer">
                        Last update: <span>12 mins ago</span>
                    </div>
                </div>
            </div>

            <!-- Folders -->
            <div class="navbar-folder-group">
                <div class="navbar-groups-title">Groups</div>
                <ul>
                    <li class="navbar-group-item" folder="all">
                        <%= link_to('', :'ng-click' => "navbar.changeToGroup('all')") do %>
                            All
                            <span class="navbar-unread-count"><%= @folders.inject(0) {|i, f| i + f.unread_count} %></span>
                        <% end %>
                    </li>
                    <% @folders.each do |folder| %>
                        <li class="navbar-group-item" folder="<%= folder.id %>">
                            <%= link_to('', :'ng-click' => "navbar.changeToGroup('#{folder.id}')") do %>
                                <%= folder.name %>
                                <span class="navbar-unread-count"><%= folder.unread_count %></span>
                            <% end %>
                        </li>
                    <% end %>
                </ul>
            </div>

        <!-- END -->
        </div>
    </div>
</div>
