<section id="sign_in_or_up" class="section section-gray<%= params[:action] === "index" ? " section-short" : " section-flexheight"  %>">
    <div class="container form-container">
        <% if !@user.errors.empty? %>
            <div class="columns eight center message message-error form-messages">
                <ul>
                    <% @user.errors.each do |error_name, error_contents| %>
                        <li><%= error_contents %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div class="columns six offset-by-one">
            <%= link_to({:action => "twitter_login"}, {:class => "form-block login-with-twitter"}) do %>
                <p>Sign Up Using Twitter</p>
                <i class="icon-twitter"></i>
            <% end %>
        </div>
        <div class="columns two">
            <div class="or-seperator">OR</div>
        </div>
        <div class="columns six">
            <div class="form-block">
                <%= form_for :user, :url => {:action => "register"}, :html => {:class => "form"} do |form| %>
                    <div class="form-title">Sign Up</div>
                    <div class="form-body">
                        <%= form.email_field :email, :placeholder => "Email@dot.com" %>
                        <%= form.password_field :password, :placeholder => "Password" %>
                        <%= form.password_field :password_confirmation, :placeholder => "Confirm password" %>
                        <p class="form-input-help"><%= link_to('Already have an account? Sign in.', {:action => 'login'}) %></p>
                    </div>
                    <div class="form-action">
                        <button type="submit" class="button button-green button-push3D">Submit</button>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>
