<div class="setting-section-nav clearfix">
    <%= link_to({action: 'settings'}) do %>
        <span class="icon-user"></span>General
    <% end %>
    <%= link_to({action: 'manage_folders'}) do %>
        <span class="icon-folder-open"></span>Folders
    <% end %>
    <%= link_to({action: 'manage_twitter_account'}) do %>
        <span class="icon-twitter"></span>Twitter Account
    <% end %>
    <%= link_to({action: 'manage_email'}) do %>
        <span class="icon-envelope"></span>Manage Email
    <% end %>
    <%= link_to({action: 'manage_password'}) do %>
        <span class="icon-lock"></span>Manage Password
    <% end %>
</div>
