<div class="sr-title sr-title-setting">Change Password</div>


<%= form_for(:user, html: {:class => 'setting-form-normal'}) do |f| %>

    <!-- Current Password -->
    <%= f.label(:current_password, {class: ""}) %>
    <%= f.password_field(:current_password, placeholder: 'Current password') %>
    <% unless @user.errors[:current_password].empty? %>
        <% @user.errors[:current_password].each do |e| %>
            <span class="help-block alert"><%= e %></span>
        <% end %>
    <% else %>
        <span class="help-block"></span>
    <% end %>

    <!-- Passwrod -->
    <%= f.label(:password, {class: ""}) %>
    <%= f.password_field(:password, placeholder: 'Password') %>
    <% unless @user.errors[:password].empty? %>
        <% @user.errors[:password].each do |e| %>
            <span class="help-block alert"><%= e %></span>
        <% end %>
    <% else %>
        <span class="help-block"></span>
    <% end %>

    <!-- Password Confirmation -->
    <%= f.label(:password_confirmation, {class: ""}) %>
    <%= f.password_field(:password_confirmation, placeholder: 'Password Comfirmation') %>
    <% if !@user.errors[:password_confirmation].empty? %>
        <% @user.errors[:password_confirmation].each do |e| %>
            <span class="help-block alert"><%= e %></span>
        <% end %>
    <% else %>
        <span class="help-block"></span>
    <% end %>

    <!-- Submit -->
    <%= f.button('Update', :class => 'button button-blue') %>

<% end %>
