<div class="settings-body settings-folders">

    <div class="folder-management">
        <p class="lead-title">Manage Folders</p>
        <div class="form-inline create-new-folder-block">
            <span class="help-inline">Create a new folder </span>
            <%= text_field_tag :new_folder_name, nil, :class => 'input-xlarge', :placeholder => 'New folder name' %>
            <%= button_tag "Create", :type => 'button', :class => 'btn btn-primary', :id => 'create_new_folder_button' %>
        </div>

        <div class="folder-list">
            <% @folders.each do |folder| %>
            <div class="folder-list-item alert alert-info">
                <div class="btn-group">
                    <button class="btn btn-primary" <%= disabled_if_reserved(folder) %>><i class="icon-resize-vertical"></i></button>
                    <button class="btn btn-primary" <%= disabled_if_reserved(folder) %>>Rename</button>
                </div>
                <span class="folder-list-item-name"><%= folder.name %></span>
                <button class="btn btn-primary delete-folder" <%= disabled_if_reserved(folder) %>><i class="icon-trash"></i></button>
            </div>
            <% end %>
        </div>
    </div>

    <div class="feeds-management">
        <p class="lead-title">Categorize Feeds</p>
        <!-- Manage Folder -->
        <% @folders.each do |folder| %>
        <div class="folder-container" data-id="<%= folder.id %>">
            <h3 class="folder-title">
                <%= folder.name %>
                <a href="#" class="jump-to-edit-folder-button">
                    <small>
                        <i class="icon-chevron-up"></i>
                        <span class="">edit</span>
                    </small>
                </a>
            </h3>
            <div class="folder-feeds-container clearfix">
                <% folder.feeds.each do |feed| %>
                <div class="feed-item" data-id="<%= feed.id %>">
                    <img src="<%= feed.profile_image_url %>">
                    <span class="feed-name"><%= feed.name %></span>
                    <span class="feed-screen-name">@<%= feed.screen_name %></span>
                </div>
                <% end %>
            </div>
        </div>
        <% end %>
    </div>

</div>
