<!-- Modal -->
<div id="feedbackModal" class="modal hide fade" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close feedback-modal-cancel">×</button>
        <h3>Feedback? We'd like to hear!</h3>
    </div>
    <%= form_tag({:controller => 'background_opt', :action => 'feedback'}, {:remote => true}) do %>
    <div class="modal-body">

        <!-- Body -->
        <%= hidden_field_tag :page_name %>
        <%= hidden_field_tag :feedback_user_id, @user.id %>
        <%= hidden_field_tag :feedback_user_email, @user.email %>
        <%= label_tag :subject %>
        <%= text_field_tag :subject, nil, {:placeholder => 'Subject', :class => 'input-block-level'} %>
        <%= label_tag :content %>
        <%= text_area_tag :content, nil, {:placeholder => 'Content', :class => 'input-block-level'} %>

    </div>
    <div class="modal-footer">
        <%= button_tag 'Cancel', {:class => 'btn feedback-modal-cancel', :type => 'button'} %>
        <%= button_tag 'Send', {:class => 'btn btn-primary'} %>
    </div>
    <% end %>
</div>
