<!-- Feeds Content -->
<section class="feeds">
	<div class="toolbox">
		<a class="refresh-feeds toolbox-button feeds-toolbox-button"
		   id="refresh" href=""
		   ng-click="fetchWithTwitter()">
			<i class="icon-refresh"></i>
		</a>
		<%= link_to({controller: 'settings', action: 'manage_folders'},
			:class => 'toolbox-button feeds-toolbox-button',
			:id => 'manage_folder') do %>
			<i class="icon-wrench"></i>
		<% end %>
	</div>

	<!-- Feeds List -->
	<div class="list-container feeds-list">

		<!-- Folders -->
		<div folder class="folder list-container-item"
			 ng-repeat="folder in folders">
			<a href="" class="item-face folder-face"
			   ng-click="loadTweets('folder', folder.id)">
			    <div class="folder-name">
			    	{{ folder.name }}
			    </div>
			    <span class="item-icon-right unread-count">{{ folder.unread_count }}</span>
			</a>
			<div class="list-item-hover list-item-hover-folder">
			    <a href="" class="item-icon-right icon-expand-alt folder-option-expand"
			       ng-click="showFeedsList(showList)"></a>
			</div>
			<div class="folder-feeds-list"
				 ng-class="showList.list">

				<!-- Feeds -->
				<div feed class="feed list-container-item"
					 ng-repeat="feed in folder.feeds">
					<a href="" class="item-face"
					   ng-click="loadTweets('feed', feed.id)">
					    <img class="item-icon-left feed-profile-image"
					    	 ng-src="{{ feed.profile_image_url }}">
					    <div class="feed-name">
					    	{{ feed.name }}
					    	<span class="feed-screen-name">
					    		@{{ feed.screen_name }}
					    	</span>
					    </div>
					    <span class="item-icon-right unread-count">{{ feed.unread_count }}</span>
					</a>
					<div class="list-item-hover">
					    <a href="" class="item-icon-left icon-star feed-option-fav"></a>
					    <a href="" class="item-icon-right icon-angle-down feed-option-more"></a>
					</div>
				</div>
				<!-- END of Feeds -->

			</div>
		</div>
		<!-- END of Folders -->

	</div>

</section>

<!-- Tweets Content -->
<section class="tweets" ng-controller="TweetsCtrl">
	<div class="toolbox">
		<div class="toolbox-button toolbox-button-tweets display-only-unread-wrap">
			<%= check_box_tag :display_only_unread, 1, true, :id => 'display_only_unread' %>
			<%= label_tag :display_only_unread, "Display Only Unread" %>
		</div>
		<%= link_to 'Mark All Read', '#', {:class => 'toolbox-button toolbox-button-tweets', id: 'mark_all_read'} %>
	</div>

	<!-- Tweets List -->
	<div class="list-container tweets-list"
		 infinite-scroll="listScrolling()"
		 infinite-scroll-disabled="busy"
		 infinite-scroll-distance="0.2">
		<div class="tweets-list-inner">
		 	<div tweet class="tweet clearfix {{tweet.read | tweetReadFilter}}"
		 	     ng-repeat="tweet in tweets">
		 	</div>
		</div>
	</div>

</section>

<!-- Template -->
<%= render 'templates' %>
