<!-- FeedsContent -->
<section class="feeds">
	<div class="toolbox">
		<%= link_to({controller: 'background_opt', :action => "refresh"}, {:class => 'refresh-feeds toolbox-button feeds-toolbox-button', :id => 'refresh'}) do %>
			<i class="icon-refresh"></i>
		<% end %>
		<%= link_to({controller: 'settings', action: 'manage_folders'}, :class => 'toolbox-button feeds-toolbox-button', id: 'manage_folder') do %>
			<i class="icon-wrench"></i>
		<% end %>
	</div>
	<div class="list-container feeds-list">

		<!-- Folders and Feeds -->
		<% @user.folders.order("position DESC").each do |folder| %>
			<div class="folder list-container-item"
				 data-id="<%= folder.id %>"
				 data-name="<%= folder.name %>"
				 data-unread_count="<%= folder.unread_count %>">
				<a href="#" class="item-face folder-face">
				    <div class="folder-name"><%= folder.name %></div>
				    <span class="item-icon-right unread-count"><%= folder.unread_count %></span>
				</a>
				<div class="list-item-hover">
				    <a href="#" class="item-icon-right icon-angle-down feed-option-more"></a>
				</div>
				<div class="folder-feeds-list">

					<!-- Feeds -->
					<% folder.feeds.order("unread_count DESC").each do |feed| %>
						<div class="feed list-container-item"
							 data-id="<%= feed.id %>"
							 data-name="<%= feed.name %>"
							 data-profile_image_url="<%= feed.profile_image_url %>"
							 data-screen_name="<%= feed.screen_name %>"
							 data-unread_count="<%= feed.unread_count %>"
							 data-folder_id="<%= feed.folder_id%>">
							<a href="#" class="item-face">
							    <img class="item-icon-left feed-profile-image" src="<%= feed.profile_image_url %>">
							    <div class="feed-name"><%= feed.name %> <span class="feed-screen-name">@<%= feed.screen_name %></span></div>
							    <span class="item-icon-right unread-count"><%= feed.unread_count %></span>
							</a>
							<div class="list-item-hover">
							    <a href="#" class="item-icon-left icon-star feed-option-fav"></a>
							    <a href="#" class="item-icon-right icon-angle-down feed-option-more"></a>
							</div>
						</div>
					<% end %>
					<!-- END of Feeds -->

				</div>
			</div>
		<% end %>
		<!-- END of Folders -->

	</div>
</section>

<!-- TweetsContent -->
<section class="tweets">
	<div class="toolbox">
		<div class="toolbox-button toolbox-button-tweets display-only-unread">
			<%= check_box_tag :display_only_unread, 1, true, :id => 'display_only_unread' %>
			<%= label_tag :display_only_unread, "Display Only Unread" %>
		</div>
		<%= link_to 'Mark All Read', '#', {:class => 'toolbox-button toolbox-button-tweets', id: 'mark_all_read'} %>
	</div>
	<div class="list-container tweets-list">

	</div>
</section>

<!-- Template -->
<%= render 'underscore_templates' %>
