<!-- Feeds Content -->
<section class="feeds">
	<div class="toolbox">
		<%= link_to({controller: 'background_opt', :action => "refresh"}, {:class => 'refresh-feeds toolbox-button feeds-toolbox-button', :id => 'refresh'}) do %>
			<i class="icon-refresh"></i>
		<% end %>
		<%= link_to({controller: 'settings', action: 'manage_folders'}, :class => 'toolbox-button feeds-toolbox-button', id: 'manage_folder') do %>
			<i class="icon-wrench"></i>
		<% end %>
	</div>

	<!-- Feeds List -->
	<div class="list-container feeds-list">

		<!-- Folders -->
		<% @user.folders.order("position ASC").each do |folder| %>
		<div class="folder list-container-item"
			 folder show-tweets="showTweets(source_type, source_id)">
			<a href="" class="item-face folder-face" ng-click="showTweets({source_type:'folders', source_id:<%= folder.id %>})">
			    <div class="folder-name">
			    	<%= folder.name %>
			    </div>
			    <span class="item-icon-right unread-count"><%= folder.unread_count %></span>
			</a>
			<div class="list-item-hover list-item-hover-folder">
			    <a href="" class="item-icon-right icon-expand-alt folder-option-expand" ng-click="showFeeds()"></a>
			</div>
			<div class="folder-feeds-list {{show}}">

				<!-- Feeds -->
				<% folder.feeds.order("unread_count DESC").each do |feed| %>
				<div class="feed list-container-item">
					<a href="" class="item-face"
					   ng-click="showTweets({source_type:'feeds', source_id:<%= feed.id %>})">
					    <img class="item-icon-left feed-profile-image" src="<%= feed.profile_image_url %>">
					    <div class="feed-name"><%= feed.name %> <span class="feed-screen-name">@<%= feed.screen_name %></span></div>
					    <span class="item-icon-right unread-count"><%= feed.unread_count %></span>
					</a>
					<div class="list-item-hover">
					    <a href="#" class="item-icon-left icon-star feed-option-fav"></a>
					    <a href="#" class="item-icon-right icon-angle-down feed-option-more"></a>
					</div>
				</div>
				<% end %>
				<!-- END of Feeds -->

			</div>
		</div>
		<% end %>
		<!-- END of Folders -->

	</div>

</section>

<!-- Tweets Content -->
<section class="tweets">
	<div class="toolbox">
		<div class="toolbox-button toolbox-button-tweets display-only-unread-wrap">
			<%= check_box_tag :display_only_unread, 1, true, :id => 'display_only_unread' %>
			<%= label_tag :display_only_unread, "Display Only Unread" %>
		</div>
		<%= link_to 'Mark All Read', '#', {:class => 'toolbox-button toolbox-button-tweets', id: 'mark_all_read'} %>
	</div>

	<!-- Tweets List -->
	<div class="list-container tweets-list">
		<div class="tweet clearfix"
			 tweet ng-repeat="tweet in loadTweets.tweets">
		</div>
	</div>

</section>

<!-- Template -->
<%= render 'templates' %>
